body {
  background-color: bisque;
}

h1 {
  color: #8a2be2;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  color: #9d57df;
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  color: rgb(57, 48, 180);
  font-size: 20px;
}
ul {
  font-size: 40px;
  color: #8a2be2;
}
